<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<div class="container">
    {{#section 'js'}}


    <script>
        $.validator.addMethod("valueNotEquals", function (value, element, arg) {
            return arg !== value;
        }, "Value must not equal arg.");

    </script>


    <script>
        $(function () {

            $('#changePassword').validate({
                rules: {
                    passwordOld: {
                        required: true,
                        minlength: 6
                    },
                    passwordNew1: {
                        required: true,
                        minlength: 6
                    },
                    passwordNew2: {
                        required: true,
                        equalTo: $('[name="passwordNew1"]')
                    },
                },
                messages: {
                    passwordOld: {
                        required: 'Bạn vui lòng nhập password.',
                        minlength: 'Mật khẩu phải có ít nhất 6 kí tự.'
                    },
                    passwordNew1: {
                        required: 'Bạn vui lòng nhập password mới.',
                        minlength: 'Mật khẩu mới phải có ít nhất 6 kí tự.'
                    },
                    passwordNew2: {
                        required: 'Bạn vui lòng nhập passowrd mới.',
                        equalTo: 'Vui lòng nhập mật khẩu giống nhau.'
                    }
                },
                errorElement: 'small',
                errorClass: 'help-block text-danger',
                validClass: 'is-valid',
                highlight: function (e) {
                    $(e).removeClass('is-valid').addClass('is-invalid');
                },
                unhighlight: function (e) {
                    $(e).removeClass('is-invalid').addClass('is-valid');
                },
            });

        })
    </script>
    {{/section}}
    <div class="row">
        <div class="col-sm-9">
            <div class="card shadow mt-5 mb-5">
                {{#each user}}
                <div class="card-header">
                    Thay đổi mật khẩu {{name}}!
                </div>
                <div class="card-body">

                    <form action="" method="POST" id="changePassword">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Password cũ: </label>
                            <input type="password" class="form-control" class="form-control" id="passwordOld"
                                name="passwordOld">
                        </div>
                        <div class="form-group">
                            <label>Password mới</label>
                            <input type="password" class="form-control" id="passwordNew1" name="passwordNew1">
                        </div>
                        <div class="form-group">
                            <label>Nhập lại password mới</label>
                            <input type="password" class="form-control" id="passwordNew2" name="passwordNew2">
                        </div>
                        <center><button type="submit" class="btn btn-primary">Thay đổi mật khẩu</button></center>

                    </form>

                </div>
                {{/each}}

            </div>
        </div>
        <div class="col-sm-3">
            <div class="card shadow mt-5 mb-5 ">

                <div class="card-header text-center font-weight-bold">
                    SETTING
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-left"><a href="/account/profile"><i class="fa fa-info-circle"
                                aria-hidden="true"></i>
                            Thông tin của bạn</a></li>
                    {{#each user}}
                    <li class="list-group-item text-left"><a class="" href="/account/editProfile/{{id}}"><i
                                class="fa fa-pencil" aria-hidden="true"></i>

                            Sửa thông tin</a></li>
                    {{/each}}
                    <li class="list-group-item text-left"><a class="" href="/account/changePassword"><i class="fa fa-lock"
                                aria-hidden="true"></i>

                            Đổi mật khẩu</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>

    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4',
        format: 'yyyy-mm-dd'
    });
</script>