body{
    font-family: Quicksand,'Helvetica Neue',Helvetica,Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans',sans-serif;
}
a {
    color: black;
}

a:hover {
    color: #6b9eef;
}

.category {
    font-size: 20px;
    
}


footer {
    margin: auto;
    padding: 10px;
}

footer p {
    padding: 10px;
    font-size: 20px;
}

.new-news {
    padding: 10px;
    float: left;
}