body{
    font-family: Quicksand,'Helvetica Neue',Helvetica,Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans',sans-serif;
}
a {
    color: black;
}

a:hover {
    color: #6b9eef;
}

.category {
    font-size: 20px;
    
}

.item-category{
    text-align: center;
}
/* .item-category :hover {
    color: #6b9eef;
    
} */

/* .category i {
    color: black;
    padding: 15px;
    padding-left: 50px;
    /* font-family: Quicksand,'Helvetica Neue',Helvetica,Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans',sans-serif; */
/* } */ 

footer {
    /* height: 100px; */
    /* background-color: black; */
    margin: auto;
    /* width: 100%; */
    padding: 10px;
}

footer p {
    padding: 10px;
    font-size: 20px;
}

.new-news {
    padding: 10px;
    /* margin-bottom: 50px; */
    float: left;
}