<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
{{#section 'js'}}

<script>
    $.validator.addMethod("valueNotEquals", function (value, element, arg) {
        return arg !== value;
    }, "Value must not equal arg.");

    // configure your validation

</script>

<script>
    $(function () {

        $('#insertPostFrom').validate({
            rules: {
                title: {
                    required: true
                },
                id_category: {
                    valueNotEquals: "default"
                },
                image: {
                    required: true
                },
                tag: {
                    required: true
                },
                date_post: {
                    required: true
                },
            },
            messages: {
                title: {
                    required: 'Bạn vui lòng nhập tiêu đề bài viết.'
                },
                image: {
                    required: 'Bạn vui lòng upload hình ảnh.'
                },
                tag: {
                    required: 'Bạn vui lòng nhập tag.'
                },
                date_post: {
                    required: 'Bạn vui lòng nhập ngày đăng.'
                },
                id_category: {
                    valueNotEquals: "Vui lòng chọn chuyên mục."
                }
            },
            errorElement: 'small',
            errorClass: 'help-block text-danger',
            validClass: 'is-valid',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            },
        });

    })
</script>
{{/section}}


<div class="container">
    {{#if success}}
    <div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{success}}
    </div>
    {{/if}}
    <div class="row">

        <div class="col-sm-9">
            <div class="card shadow mt-5 mb-5">
                <div class="card-header text-center font-weight-bold">
                    THÊM BÀI VIẾT

                </div>
                <div class="card-body">
                    <form action="/panel/insert" method="POST" enctype="multipart/form-data" id="insertPostFrom">
                        <div class="form-group">
                            <label>Tiêu đề bài viết</label>
                            <input required type="text" class="form-control" id="title" placeholder="" name="title">

                        </div>
                        <div class="form-group">
                            <label>Ảnh bài viết</label>
                            <input required type="file" class="form-control" id="image" placeholder="" name="image">
                        </div>
                        <div class="form-group">
                            <label>Chuyên mục</label>
                            <select required class="custom-select" id="id_category" name="id_category">
                                <option value="default">Chọn chuyên mục</option>
                                {{#each this.category}}
                                <option value="{{id}}">{{name}}</option>
                                {{/each}}

                            </select>
                        </div>

                        <div class="form-group">
                            <label>Ngày đăng</label>
                            <input required type="date" class="form-control" id="date_post" placeholder=""
                                name="date_post">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Nội dung bài viết</label>
                            <textarea required name="content" id="editor"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Tag</label>
                            <input required type="text" class="form-control" id="tag" placeholder="" name="tag">
                        </div>
                        <div class="form-check mb-3">
                            <input type="checkbox" value="1" class="form-check-input" id="hotNews" name="hotNews">
                            <label class="form-check-label" for="exampleCheck1">Tin tức nổi bật</label>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Thêm bài viết</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card shadow mt-5 mb-5">
                <div class="card-header text-center font-weight-bold">
                    QUẢN TRỊ BÀI VIẾT
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center"><a href="/panel"><i class="fa fa-file-text"
                                aria-hidden="true"></i> Trang bài viết</a></li>
                    <li class="list-group-item text-center"><a class="" href="/panel/insert"><i class="fa fa-plus"
                                aria-hidden="true"></i>
                            Thêm bài viết</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>

    CKEDITOR.replace('editor');

</script>